@page "{id:Guid}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApi.Pages.Users.DeleteModel
@{
    ViewData["Title"] = "Delete user";
}

<h1>Delete User</h1>

<h3>Are you sure you want to delete this user?</h3>

<form method="post" asp-antiforgery="true">
    <div class="form-floating mb-3">
        <input asp-for="@Model.UserInfo.Username" class="form-control" readonly/>
        <label asp-for="@Model.UserInfo.Username" class="control-label"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.UserInfo.FirstName" class="form-control" readonly/>
        <label asp-for="@Model.UserInfo.FirstName" class="control-label"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.UserInfo.LastName" class="form-control" readonly/>
        <label asp-for="@Model.UserInfo.LastName" class="control-label"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.UserInfo.Email" class="form-control" readonly/>
        <label asp-for="@Model.UserInfo.Email" class="control-label"></label>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.UserInfo.Roles"></label>
        <select asp-for="@Model.UserInfo.Roles" asp-items="@Model.UserRoles" class="form-control" disabled></select>
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-page="./Index" class="btn btn-secondary">Back to list</a>
    </div>
</form>