@page "{id:Guid}"
@model WebApi.Pages.Users.DetailsModel
@{
    ViewData["Title"] = "User details";
}

<h1>User details</h1>

<form method="get" asp-antiforgery="true">
    <div class="form-floating mb-3">
        <input asp-for="@Model.Input.Username" class="form-control" readonly/>
        <label asp-for="@Model.Input.Username" class="control-label"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.Input.FirstName" class="form-control" readonly/>
        <label asp-for="@Model.Input.FirstName" class="control-label"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.Input.LastName" class="form-control" readonly/>
        <label asp-for="@Model.Input.LastName" class="control-label"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.Input.Email" class="form-control" readonly/>
        <label asp-for="@Model.Input.Email" class="control-label"></label>
    </div>
    <div class="form-floating mb-3">
        <input asp-for="@Model.Input.IsMfaEnabled" class="form-control" readonly/>
        <label asp-for="@Model.Input.IsMfaEnabled" class="control-label"></label>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Input.Roles"></label>
        <select asp-for="@Model.Input.Roles" asp-items="@Model.UserRoles" class="form-control" disabled></select>
    </div>
    <div class="form-group mt-3">
        <a asp-page="./Index" class="btn btn-secondary">Back to list</a>
    </div>
</form>